# Virtual Environment
venv/
.venv/
env/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Dataset
data/raw/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/samples/.gitkeep

# Large files
*.parquet
*.h5
*.ckpt

# OS files
.DS_Store

# Reports
reports/*.pdf